@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  transition: 0.5s;
  scroll-behavior: smooth;
}

.primary_bg {
 background-color: #28004d;

}
.second_bg{
  background: linear-gradient(to right, #3f007a,#2f0259);
}
.text_primary{
  color: #3f007a;
}
.a:hover{
  background-color: rgba(255, 255, 255, 0.886);
  color: #2f0259;
}
.i{
  font-size: 2rem;
  padding: 5px;
  color: #ffffff;
  border: 1px solid white;
  
  transform: perspective(3px);
}
.i:hover{
  
  box-shadow: 0 0  .3rem white;
  transform:rotateZ(25deg)
}